.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.profile-section {
    margin-top: 100px;
    width: 60%;
}

.header {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-align: center;
    letter-spacing: 0.2px;

    color: #000000;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 15px;
    width: 100%;
}

.main-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f3f0f0;
}

.left {
    margin-left: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.2px;

    margin: 0;
    color: #000000;

}
h5 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  letter-spacing: 0.2px;

  margin: 0;
  margin-bottom: -5px;
  color: #494747;

}
h4 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.2px;
    margin: 0;
    color: #ea0707;

}
h3 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    margin: 0;
    color: #7F7F7F;
}

.default-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.avatar-img {
    border-radius: 100px;
    width: 10%;
    height: 100%;
    min-width: 60px;
    min-height: 60px;
}
.general{
    margin-top: 15px;
}
.general-item{
    width: 100%;
    background-color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #eeeaea;
    padding: 10px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    &:hover{
        background-color: #eeeaea;
    }
}
.title{
    padding: 10px;
}


.add-product{
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px;
}
.input-container {
    margin-bottom: 5px;
}

.input-bar {
    width: 99%;
    border-radius: 6px;
    margin-left: auto;
    height: 35px;
    border: 1.5px solid #484747;
    padding-left: 10px;
    color: rgb(59, 59, 59);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease;
    &:focus{
        box-shadow: 0 0 10px rgba(44, 120, 207, 0.658);
        border: 1.5px solid rgb(58, 136, 224);
        outline: none;
    }
}
.option-bar{
    width: 100.5%;
    border-radius: 6px;
    margin-left: auto;
    height: 35px;
    border: 1.5px solid #484747;
    padding-left: 5px;
    color: rgb(152, 147, 147);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.15s ease;
    &:focus{
        box-shadow: 0 0 10px #0a915d;
        border: 1.5px solid #0a915d;
        outline: none;
    }
}
input[type=file]::file-selector-button {
  justify-content: end;
  height: 100%;
  margin-right: 15px;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #dedddd;
  color: #444343;
  border: none;
  transition: 1s;


}

input[type=file]::file-selector-button:hover {
  background-color: #606260;
}

.file-bar {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  border-radius: 6px;
  margin-left: auto;
  height: 35px;
  border: 1.5px solid #484747;
  color: rgb(59, 59, 59);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s ease;
  &:focus{
    box-shadow: 0 0 10px rgba(44, 120, 207, 0.658);
    border: 1.5px solid rgb(58, 136, 224);
    outline: none;
  }
}
.text-bar{
  width: 99.4%;
  border-radius: 6px;
  margin-left: auto;
  height: 95px;
  border: 1.5px solid #484747;
  padding-left: 5px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s ease;
  &:focus{
    box-shadow: 0 0 10px rgba(44, 120, 207, 0.658);
    border: 1.5px solid rgb(58, 136, 224);
    outline: none;
  }
}

.input-bar option{
    color: rgb(59, 59, 59);
}


.login-button {
  border: none;
  min-width: 100px;
  width: 100%;
  height: 45px;
  background-color: #0ACF83;
  color: white;
  padding: 9px;
  border-radius: 8px;
  margin-top: 20px;
  &:hover{
    background-color: #15c583;
  }
  &:active{
    background-color: #0a915d;
  }
}




